{{ partial "header.html" . }}

<main class="content" role="main">
    <section class="container">
        {{ .Content }}
        {{$current := .Site.Data.people.current }}
        {{$past := .Site.Data.people.past }}
        <h2>Current members</h2>
        <div class="listing">
            {{ range $current }}
                {{ if (eq .name "Daijiang Li")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
            
            {{ range $current }}
                {{ if (eq .role "Postdoc")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
            
            {{ range $current }}
                {{ if (eq .role "Research Associate")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
                
            {{ range $current }}
                {{ if (eq .role "PhD student")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
            
            {{ range $current }}
                {{ if (eq .role "Undergraduate student")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
            
            {{ range $current }}
                {{ if (eq .role "?")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
        </div>
    </section>
        
       <h2>Alumni</h2>
       
       
        
       
        {{ range $past }}
                {{ if (eq .role "Postdoc")}}
                    {{ partial "people_past.html" . }}
                {{ end }}
                
        {{ end }}
        
        {{ range $past }}
                {{ if (eq .role "Research Associate")}}
                    {{ partial "people_past.html" . }}
                {{ end }}  
        {{ end }}
        
        {{ range $past }}
                {{ if (eq .role "PhD student")}}
                    {{ partial "people_past.html" . }}
                {{ end }}
        {{ end }}
        
        {{ range $past2 := sort $past ".when" "desc" }}
                {{ if (eq .role "Undergraduate student")}}
                    {{ partial "people_past.html" . }}
                {{ end }}
        {{ end }}
        
        
      <h2>Pictures</h2>
      
         <div id="widerimg">
    <img src="/images/2023_12.jpeg">
     <p class="condensedlines"> 2023/12/05 Last lab meeting of fall 2023. Left to right: Pablo Moreno, Evelin Reyes, Daijiang Li, Flavia Montaño, Gaurav Kandlikar, Grant Liu, Rohit Jha.</p>
      </div>
      
    <div id="widerimg">
    <img src="/images/2023_12_lunch.jpeg">
     <p class="condensedlines"> 2023/12 End of semester lunch gathering. Clockwise from bottom left: Flavia Montaño, Rohit Jha, Evelin Reyes, Richard Ita, Grant Liu, Daijiang Li, Gaurav Kandlikar.</p>
      </div>
      
        <div id="widerimg">
    <img src="/images/2023_07_emily.jpeg">
     <p class="condensedlines"> 2023/07 A lab lunch to celebrate Emily's succesful REU summer. Left to right: Ariel Mata, Tina Nguyen, Emily Ramos, Daijiang Li, Pablo Moreno, Evelin Reyes, Grant Liu.</p>
      </div>
      
      <div id="widerimg">
    <img src="/images/lab_group_2023.jpeg">
     <p class="condensedlines"> 2023/05/05 group picture. Left to right: Ariel Mata, Sydne Martin, Tina Nguyen, Daijiang Li, Rohit Jha, Pablo Moreno, Evelin Reyes, Flavia Montaño.</p>
      </div>

 <div id="widerimg">
    <img src="/images/2023_04_swamp_tour.jpeg">
     <p class="condensedlines"> 2023/04/25 Swap tour during the Phenobase project annual meeting at LSU.</p>
      </div>

</main>

{{ partial "footer.html" . }}
