{{ partial "header.html" . }}

<main class="content" role="main">
    <section class="container">
        {{ .Content }}
        {{$current := .Site.Data.people.current }}
        {{$past := .Site.Data.people.past }}
        <h2>Current members</h2>
        <div class="listing">
            {{ range $current }}
                {{ if (eq .name "Daijiang Li")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
            
            {{ range $current }}
                {{ if (eq .role "Postdoc")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
            
            {{ range $current }}
                {{ if (eq .role "Research Associate")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
                
            {{ range $current }}
                {{ if (eq .role "PhD student")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
            
            {{ range $current }}
                {{ if (eq .role "Undergraduate student")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
            
            {{ range $current }}
                {{ if (eq .role "?")}}
                    {{ partial "people.html" . }}
                {{ end }}
            {{ end }}
        </div>
    </section>
        
       <h2>Alumni</h2>
       
       
        
       
        {{ range $past }}
                {{ if (eq .role "Postdoc")}}
                    {{ partial "people_past.html" . }}
                {{ end }}
                
        {{ end }}
        
        {{ range $past }}
                {{ if (eq .role "Research Associate")}}
                    {{ partial "people_past.html" . }}
                {{ end }}  
        {{ end }}
        
        {{ range $past }}
                {{ if (eq .role "PhD student")}}
                    {{ partial "people_past.html" . }}
                {{ end }}
        {{ end }}
        
        {{ range $past2 := sort $past ".when" "desc" }}
                {{ if (eq .role "Undergraduate student")}}
                    {{ partial "people_past.html" . }}
                {{ end }}
        {{ end }}
        
</main>

{{ partial "footer.html" . }}
