
 <li class="menu-extra"></li>

 <li><a href="https://github.com/dlilab" target="_blank"><i class="fa fa-github" aria-hidden="true" title="Github"></i></a></li>

<li><a href="https://twitter.com/_djli" target="_blank"><i class="fa fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a></li>

<li><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" title="Attribution-NonCommercial-ShareAlike 4.0 International"><i class="fa fa-cc" aria-hidden="true" title="Attribution-NonCommercial-ShareAlike 4.0 International"></i></a></li>

<li><a href="/"><i title="Last change"></i> Last change: {{ dateFormat "2006/01/02" .Site.Lastmod }}</a></li>
