<div class="paper">
    {{ $year := index .issued "date-parts" 0 0 | string }}
    <div class="title">
        {{ title .title | markdownify }}
    </div>
    <div class="authors">
        {{ range $author := .author }}
          {{ if (and (eq $author.family "Li") (eq $author.given "Daijiang")) }}
             <span class="family"><b>Li D.</b>,</span>
          {{ else }}
        <span class="family">{{ $author.family | markdownify }}</span>
        <span class="given">{{ range $names := split $author.given " " }}
            {{ substr $names 0 1 }}.{{ end }},</span>
         {{ end }}
        {{ end }}
    </div>
    <div class="metadata">
        {{- /* <!–– <span class="year"> {{ $year }} </span> ––> */ -}}
        <span>
            <i>{{ index . "container-title" }}</i>
        </span>
        {{ if isset . "DOI" }}
        <span class="doi link badge">
            <a href="http://dx.doi.org/{{ .DOI}}" target="_blank" title="Text through DOI"><i
                    class="ai ai-doi"></i></a>
        </span>
        {{ else }}
        <span class="url link badge">
            <a href="{{ .URL}}" target="_blank" title="Text through URL"><i class="fas fa-file-pdf"></i></a>
        </span>
        {{ end }}

        <span class="url link badge">
            <a href="https://scholar.google.com/scholar?q={{.title}}" title="Find on google scholar" target="_blank">
                <i class="ai ai-google-scholar"></i>
            </a>
        </span>

        {{ partial "badge.html" (dict "url" .github      "title" "Code on Github"                "icon" "fab fa-github") }}
        {{ partial "badge.html" (dict "url" .dryad       "title" "Data repository at Dryad"       "icon" "ai ai-dryad") }}
        {{ partial "badge.html" (dict "url" .figshare    "title" "Data repository at Figshare"    "icon" "ai ai-figshare") }}
        {{ partial "badge.html" (dict "url" .biorxiv     "title" "Preprint version"               "icon" "ai ai-biorxiv-square") }}
        {{ partial "badge.html" (dict "url" .coverImage  "title" "Cover paper of the issue"       "icon" "fas fa-file-image") }}
        {{ partial "badge.html" (dict "url" .EditorChoice "title" "Editor's Choice"               "icon" "fas fa-marker") }}


        {{ if isset . "pressrelease" }}
        {{ range $press := .pressrelease }}
        <span class="url link badge">
        <a href="{{ $press.presslink}}" target="_blank" title="Press Release"><i class="far fa-newspaper"></i></a>
        </span>
        {{ end }}
        {{ end }}
        
      <!-- {{ if isset . "DOI" }}
         <span class="url link badge">
       <i class="__dimensions_badge_embed__" data-doi="{{ .DOI}}" data-style="small_rectangle"></i>
        </span>
        {{ end }} -->
        
        {{ if isset . "DOI" }}
        <span class="url link badge">
        <i class="altmetric-embed" data-badge-type="4" data-condensed="true" data-hide-no-mentions="true" data-badge-popover="right" data-doi="{{ .DOI}}"></i>
        </span>
        {{ end }}

    </div>
</div>
