{{ partial "header.html" . }}

<main id="content">
    <section class="container">
        {{ .Content }}
        <div class="listing">
            {{ range .Paginator.Pages }}
            <div class="itemResearch">
                <img  class="headImage" src="{{.Page.Params.image}}" alt="" />
                <h2>{{.Title}}</h2>
                <div class="summary">
                    {{.Summary | markdownify}}
                </div>
                <a href="{{ .RelPermalink }}">Read more</a>
            </div>
            {{ end }}
        </div>
    </section>
</main>

{{ partial "footer.html" . }}
