{{ partial "header.html" . }}

<main class="content" role="main">
    <section class="container">

        {{ $publications := .Site.Data.papers }}

        {{ $allyear := newScratch }}
        {{ $idyear := newScratch }}
        {{ range $publication := $publications }}
            {{ $year := index $publication.issued "date-parts" 0 0 | int }}
            {{ $year2 := index $publication.issued "date-parts" 0 0 | string }}
            {{ $month := index $publication.issued "date-parts" 0 1 | int }}
            {{ $day := index $publication.issued "date-parts" 0 2 | int }}
            {{ $fyear := printf "%04d" (sub $year 3000)}}
            {{ $fmonth := printf "%02d" $month }}
            {{ $fday := printf "%02d" $day }}
            {{ $date := print $fyear "-" $fmonth "-" $fday "-" $publication.id | string}}
            {{ $idyear.SetInMap "date" $date $publication.id }}
            {{ $allyear.Add "pyear" (slice $year2) }}
        {{ end }}

        {{ $uniqueYears := $allyear.Get "pyear" | uniq }}

        {{ .Content }}

        <h2>Jump to year</h2>
        <div style="text-align: center;">
        {{ range $i, $year := $uniqueYears }}{{ if $i }}, {{ end }}<a href="#{{ $year }}">{{ $year }}</a>{{ end }}
        </div>

        <p>
        <strong>Bold</strong> names denote lab members<br>
        <sup>§</sup> denotes postdoc mentee co-author<br>
        <sup>§§</sup> denotes graduate student mentee co-author<br>
        <i class="ai ai-doi"></i>: journal page link &nbsp; <i class="ai ai-google-scholar"></i>: Google Scholar link &nbsp; <i class="fab fa-github"></i>: Related GitHub repository
        </p>

        <ol reversed>
        {{ range $ayear := $uniqueYears }}
          <H2 id={{ $ayear }}> {{ $ayear }} </H2>
            {{ range $id := ($idyear.Get "date") }}
                {{ range $pub := $publications }}
                    {{ $year3 := index $pub.issued "date-parts" 0 0 | string }}
                        {{ if eq  $year3 $ayear}}
                            {{ if eq $pub.id $id }}
                                <li>{{ partial "publications.html" $pub }}</li>
                            {{ end }}
                        {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}


        </ol>

    </section>
</main>

{{ partial "footer.html" . }}
